body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.header {
  background: #004d29;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambio para móviles */
  align-items: center; /* Alineación centrada para los ítems del menú */
}

.menu ul li {
  padding: 10px 20px;
  width: 100%; /* Asegura que cada elemento del menú ocupe todo el ancho disponible */
}

.menu ul li a {
  text-decoration: none;
  color: #fefefe;
  font-weight: bold;
  text-align: center;
  display: block; /* Asegura que el área completa del ítem sea clickeable */
}

.logo img {
  height: 60px; /* Ajustado para una mejor proporción en móviles */
}

.filtros {
  text-align: center;
  padding: 20px 0;
}

.header, .menu, .productos, .producto {
  flex-direction: column;
}

.productos {
  padding: 0; /* Elimina el padding para evitar problemas de ancho en móviles */
}

.producto {
  margin-bottom: 20px; /* Aumenta el margen para mejor separación entre productos */
}

.producto img {
  width: 100%; /* Asegura que la imagen se adapte al contenedor */
}

.info-producto h3, .info-producto button {
  text-align: center;
  margin: 10px 0;
}

button {
  background: #5c67f2;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%; /* Botones de acción más accesibles en móviles */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
}

footer {
  text-align: center;
  padding: 20px 10px;
  background: #004d29;
  color: white; /* Mejora la legibilidad en el footer */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

/* Media query para desktop */
@media (min-width: 576px) {
  .menu ul {
      flex-direction: row; /* Restaura la orientación horizontal para el menú */
  }

  .menu ul li {
      width: auto; /* Deshacer el ancho completo para elementos de menú en escritorio */
  }

  .productos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;
  }

  .producto {
      margin-bottom: 0; /* Elimina el margen entre productos en escritorio */
  }

  .logo img {
      height: 100px; /* Restaura el tamaño original del logo para escritorio */
  }

  button {
      width: auto; /* Restablece el ancho automático para botones en escritorio */
  }
}
